<div class="flex-col rounded-lg bg-white px-8 py-8 dark:bg-night-700 sm:flex-row">
    <div class="mb-2 flex items-center justify-between">
        <div class="flex-col">
            <div class="flex items-center space-x-1">
                <span class="text-4xl mb-10 font-semibold text-gray-900 dark:text-white">Total Customer Reviews By
                    Mood</span>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div style="padding: 20px; margin: 5px;">
        <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [legend]="chartOptions.legend!"
            [dataLabels]="chartOptions.dataLabels!" [fill]="chartOptions.fill!" [stroke]="chartOptions.stroke!"
            [xaxis]="chartOptions.xaxis!" [yaxis]="chartOptions.yaxis!" [states]="chartOptions.states!"
            [tooltip]="chartOptions.tooltip!" [colors]="chartOptions.colors!" [grid]="chartOptions.grid!"
            [title]="chartOptions.title!">
        </apx-chart>
    </div>
    <!-- end Chart -->
</div>