<div class="flex flex-row justify-between px-2">
    <div class="mt-5">

        <div class="px-3 material-icons-outlined">
            thumb_up
        </div>

        <div class="figures">329</div>
    </div>

    <div class="mt-5">
        <span class="px-3 material-icons-outlined">
            forum
        </span>
        <div class="figures">229</div>
    </div>

    <div class="mt-5">
        <span class="px-3 material-icons-outlined">
            share </span>
        <div class="figures">229</div>
    </div>

</div>

<div class="flex flex-row justify-between">
    <div class="text-sm  mx-2 font-semibold py-1 pr-2 pl-1  flex rounded-lg bg-red-100 text-red-700">
      <span class="text-sm material-icons-outlined">
        arrow_downward
      </span>
      3.4%

    </div>
    <div class="text-sm  font-semibold  py-1 pr-2 pl-1  flex rounded-lg bg-green-500/25 text-green-700">
      <span class="text-sm material-icons-outlined">
        arrow_upward
      </span>
      6.4%

    </div>
    <div class="text-sm  font-semibold   py-1 pr-2 pl-1  flex rounded-lg bg-red-100 text-red-700">
      <span class="text-sm material-icons-outlined">
        arrow_downward
      </span>
      7.4%

    </div>

  </div>