<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
    <!-- Header -->
    <app-nft-header></app-nft-header>
    <!-- end Header -->
    <div class="grid grid-cols-2 gap-4 ">
        <div  class="col-span-2 p-8 rounded-lg">
        <app-age-bar-chart></app-age-bar-chart>
        </div>

        <div class="col-span-2 p-8 rounded-lg ">
        <app-avg-cus-pm></app-avg-cus-pm>
        </div>

        <div class="col-span-1 p-8 rounded-lg ">
            <app-gender-donut></app-gender-donut>
        </div>

        <div class="col-span-1 p-8 rounded-lg ">
            <app-top-customer></app-top-customer>
        </div>
    </div>

  