<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <!-- Header -->
  <app-nft-header></app-nft-header>
  <!-- end Header -->

  <div class="grid grid-cols-1 gap-4 sm:grid-cols-4">
   
    <div class="md:col-span-2 flex h-[200px] flex-col rounded-lg bg-white p-8 dark:bg-night-700">
      <div class="chart-title">Reach</div>
     123
    </div>

    <div class="md:col-span-2 flex h-[200px] flex-col rounded-lg bg-white p-8 dark:bg-night-700">
      <div class="chart-title">Engagement</div>
      <!-- put no of likes  -->
     
    </div>

    <div class="md:col-span-2 flex h-[200px] flex-col rounded-lg bg-white p-8 dark:bg-night-700">
      <div class="chart-title">Follower Growth</div>
      <!-- put line chart -->
     
    </div>
    <div class="md:col-span-2 flex h-[200px] flex-col rounded-lg bg-white p-8 dark:bg-night-700">
      <div class="chart-title">Conversion Rate</div>
     <!-- bar chart -->
     
    </div>
    <div class="md:col-span-2 flex h-[200px] flex-col rounded-lg bg-white p-8 dark:bg-night-700">
      <div class="chart-title">Customer Acquisition Cost</div>
      <!-- line chart -->
     
    </div>
    <div class="md:col-span-2 flex h-[200px] flex-col rounded-lg bg-white p-8 dark:bg-night-700">
      <div class="chart-title">Customer Lifetime Value</div>
     <!-- line chart -->
     
    </div>

  
  </div>
</div>
