<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
    <!-- Header -->
    <app-nft-header></app-nft-header>
    <!-- end Header -->


<div class="grid grid-cols-1 gap-4 sm:grid-cols-3">
   
    <div class=" md:col-span-1 flex h-[200px] flex-col rounded-lg bg-white p-8 dark:bg-night-700">
        <div class="chart-title">Total Account</div>
    
    </div>

    <div class="md:col-span-1 flex h-[200px] flex-col rounded-lg bg-white p-8 dark:bg-night-700">
        <div class="chart-title">Total Sales</div>
      
     
    </div>

    <div class="md:col-span-1 flex h-[200px] flex-col rounded-lg bg-white p-8 dark:bg-night-700">
        <div class="chart-title">Sales VS Prev Month</div>
     
     
    </div>

    <div nft-chart-card class="sm:col-span-3"></div>

    <div nft-chart-card class="sm:col-span-3"></div>
  </div>
</div>