<div class="flex-col rounded-lg bg-white px-8 py-8 dark:bg-night-700 sm:flex-row">
    <!-- Card Header -->
    <div class="mb-2 flex items-center justify-between">
      <div class="flex-col">
        <div class="flex items-center space-x-1">
          <span class="text-lg font-semibold text-gray-400 dark:text-night-300"></span>
          <span class="text-4xl font-semibold text-gray-900 dark:text-white">RM 906</span>
          <div class="flex items-center rounded-md bg-green-500/25 py-1 pr-2 pl-1 text-xs font-semibold text-green-500">
            <svg-icon src="assets/icons/outline/arrow-sm-up.svg" [svgClass]="'h-4 w-4'"></svg-icon>
            9.2%
          </div>
        </div>
        <span class="text-sm text-gray-400 dark:text-night-300">Average Order Value</span>
      </div>
      <div
        class="cursor-pointer rounded-sm bg-gray-100 px-1 py-1 text-center text-xs text-gray-500 hover:bg-primary-500/25 hover:text-primary-500 dark:bg-night-500 dark:text-night-300 dark:hover:bg-primary-500/25 dark:hover:text-primary-500">
        <svg-icon src="assets/icons/outline/dots-horizontal.svg" [svgClass]="'h-3 w-3'"></svg-icon>
      </div>
    </div>
    <!-- end Card Header -->
  
    <!-- Card Body -->
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [legend]="chartOptions.legend!"
      [dataLabels]="chartOptions.dataLabels!"
      [fill]="chartOptions.fill!"
      [stroke]="chartOptions.stroke!"
      [xaxis]="chartOptions.xaxis!"
      [yaxis]="chartOptions.yaxis!"
      [states]="chartOptions.states!"
      [tooltip]="chartOptions.tooltip!"
      [colors]="chartOptions.colors!"
      [grid]="chartOptions.grid!"
      [title]="chartOptions.title!">
    </apx-chart>
    <!-- end Chart -->
  
    <!--Table-->
    <table class="mt-2 w-full table-auto text-sm">
      <!--begin::Table head-->
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <!--end::Table head-->
      <!--begin::Table body-->
      <tbody>
        <tr>
          <td class="py-2">
            <a class="text-sm font-semibold text-gray-400 dark:text-night-400">May</a>
          </td>
          <td class="py-2 text-right">
            <span class="text-sm font-semibold text-gray-800 dark:text-night-100">RM 106</span>
          </td>
          <td class="py-2 text-right">
            <span class="text-sm font-semibold text-rose-600">-239.34</span>
          </td>
        </tr>
        <tr>
          <td class="py-2">
            <a class="text-sm font-semibold text-gray-400 dark:text-night-400">Jun</a>
          </td>
          <td class="py-2 text-right">
            <span class="text-sm font-semibold text-gray-800 dark:text-night-100">RM 406</span>
          </td>
          <td class="py-2 text-right">
            <span class="text-sm font-semibold text-green-500">+576.24</span>
          </td>
        </tr>
        <tr>
          <td class="py-2">
            <a class="text-sm font-semibold text-gray-400 dark:text-night-400">July</a>
          </td>
          <td class="py-2 text-right">
            <span class="text-sm font-semibold text-gray-800 dark:text-night-100">RM 906</span>
          </td>
          <td class="py-2 text-right">
            <span class="text-sm font-semibold text-green-500">+124.03</span>
          </td>
        </tr>
      </tbody>
      <!--end::Table body-->
    </table>
    <!--end Table-->
  </div>
  
