<div class="flex-col rounded-lg bg-white px-8 py-8 dark:bg-night-700 sm:flex-row">
    <div class="mb-2 flex items-center justify-between">
        <div class="flex-col">
            <div class="flex items-center space-x-1">
                <span class="text-4xl mb-10 font-semibold text-gray-900 dark:text-white">What Do My Customer
                    Think</span>
            </div>
        </div>
    </div>
    <div id="container">
        <img src="/assets/images/wordcloud.png" alt="Word Cloud" aria-hidden="true">
    </div>
</div>
<!-- <div #wordcloud>
    
</div> -->